<article class="collection-product" aria-hidden="true">
  <div class="collection-product-link">
    <div class="collection-product-media placeholder-image flex justify-center items-center">
        {{  'product-1' | placeholder_svg_tag: 'placeholder-image'}}
    </div>

    <div class="collection-product-content">
      <span class="collection-product-vendor skeleton skeleton-text"></span>

      <h3 class="collection-product-title">
        <span class="skeleton skeleton-title"></span>
      </h3>

      <div class="collection-product-price">
        <span class="collection-product-current-price skeleton skeleton-price"></span>
      </div>
    </div>
  </div>
</article>